{% extends 'core/base.html' %}

{% block content %}

<div class="container mt-5">

    <h1 class="mb-5">
        Admin Dashboard 📊
    </h1>

    <ul class="list-group mb-5">

        <li class="list-group-item">

            Total Users:
            {{ total_users }}

        </li>

        <li class="list-group-item">

            Total Quizzes:
            {{ total_quizzes }}

        </li>

        <li class="list-group-item">

            Total Attempts:
            {{ total_attempts }}

        </li>

    </ul>

    <h3 class="mb-4">
        Top 5 Attempted Quizzes
    </h3>

    <ul class="list-group">

        {% for quiz in top_quizzes %}

        <li class="list-group-item d-flex justify-content-between">

            {{ quiz.title }}

            <span class="badge badge-primary">

                {{ quiz.attempts }} attempts

            </span>

        </li>

        {% empty %}

        <li class="list-group-item">

            No quiz attempts yet.

        </li>

        {% endfor %}

    </ul>

</div>

{% endblock %}