{% extends 'core/base.html' %}

{% block content %}

<div class="text-center mb-5">

    <h1 class="display-4 fw-bold text-white">
        🚀 Quiz Categories
    </h1>

    <p class="lead text-light">
        Test your knowledge with interactive quizzes
    </p>

</div>

<div class="row">

    {% for category in categories %}

    <div class="col-md-4 mb-4">

        <div class="glass p-4 h-100 quiz-card">

            <h2 class="fw-bold text-warning">
                {{ category.name }}
            </h2>

            <p class="text-light mt-3">
                Start quiz from this category and improve your skills.
            </p>

            <a
                href="{% url 'category_quizzes' category.id %}"
                class="btn btn-primary w-100 mt-3"
            >
                Start Quiz
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}